* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
}

#status {
    display: inline-block;
    position: fixed;
    padding: 1em;
    background-color: yellow;
}

#p5 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
